.ocul {
    display: none;
}

/*.fondo {
    background-color: #a9a9a9;
}*/
body {
    background-image: url("../img/vecteezy_abstract-white-background-with-halftone-texture_6469271.jpg");
    width: 100%;
    background-size:cover;
 
}

.imagen_mascota {
    background-image: url("../img/p07ryyyj.jpg");
    width: 50%;
    height: 500px;
    margin: auto;
    margin-top: ;
    background-size: contain;
    background-repeat: no-repeat;
}
.contr {
    text-align: center;
}

form {
    color: white;
    width: 500px;
    background-color: #373c3f;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 200px;
    padding: 30px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media only screen and (max-width: 600px) {
    form {
        width: 80%;
        margin: auto;
        margin-top: 10px;
    } 
}
@media only screen and (max-width: 800px) {
    .imagen_mascota {
        width: 60%;
        height: 250px;
        margin: auto;
    }
    body {
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.logo {
    background-image: url("../img/logo.png");
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}
.input {
    color: white;
    background-color: #676767;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #676767;
}
#id1, #id2 {
    margin-bottom: 100px;
}
.calc {
    background-color: #373c3f;
    color: white;
    border: 3px solid white;
    width: 95%;
    padding: 10px;                      
    border-radius: 30px;
    transition: width 0.3s, height 0.3s;
    cursor: pointer;
}
.calc {
    display: block;
    margin: 16px auto;
}
.calc:hover {
    width: 100%;
}
.masc .calc {
    width: 40%;
    display: inline-block;
}
.resp {
    color: white;
    width: 50%;
    background-color: #676767;
    margin: auto;
    padding: 0;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-bottom: 200px;
}
.perro {
    background-image: url("../img/istockphoto-1165141987-1024x1024-removebg-preview.png");
    width: 40%;
    height: 130px;
    background-size: contain;
    background-repeat: no-repeat;
}
.gato {
    background-image: url("../img/vecteezy_lindo-gato-de-dibujos-animados-gatito_8483714.png");
    width: 40%;
    height: 130px;
    background-size: contain;
    background-repeat: no-repeat;
}
.masc {
    text-align: center;
}
.perro, .gato {
    display: inline-block;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
